pip install aiosqlite==0.20.0
pip install asgiref==3.8.1
pip install blinker==1.8.2
pip install click==8.1.7
pip install Flask==3.0.3
pip install Flask-Cors==5.0.0
pip install Flask-Executor==1.0.0
pip install greenlet==3.1.1
pip install itsdangerous==2.2.0
pip install Jinja2==3.1.4
pip install MarkupSafe==2.1.5
pip install mutagen==1.47.0
pip install typing_extensions==4.12.2
pip install Werkzeug==3.0.4
pip install python-dotenv==1.0.1

# Note: pip, setuptools are usually upgraded separately:
pip install --upgrade pip
pip install --upgrade setuptools